*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/* max-height:100vh; */
}


.container{
    width:100%;
    height:100vh;
    background-color:#ffffff;
    border:2px solid #2f363e;
}
.box{
    margin:50px auto;
    width:400px;
    height:500px;
    position:relative;
    background: #2f363e;
    box-shadow:4px 4px 20px rgba(0,0,0,0.4) inset,;
    border-radius:20px;
    /* border:2px solid red; */
    /* overflow: hidden; */

}
#heading{
    text-align: center;
    margin-top:5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    text-decoration: underline;
    animation:color 5s linear infinite alternate-reverse;
    transition: all 0.3s;
    font-weight:bold;
    font-size:40px;
}
@keyframes color {
    0%{color:rgb(5, 13, 82);}
    25%{color:rgb(61, 104, 87);}
    50%{color:rgb(51, 255, 0);}
    75%{color:rgb(29, 228, 228);}
    100%{color:rgb(255, 196, 0);}
}


.box #input{
    width:100%;
    border:none;
    height:80px;
    text-align:end;
    font-size:25px;
    font-weight:bold;
    position:relative;
    border-bottom:2px solid #2f3e3e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;;
  border:2px solid #2f363e;
  outline:none;
forced-color-adjust: none;


}
.main_box{
    padding:10px;
    height:420px;
  display: grid;
  grid-template-columns: auto auto auto auto; 
  gap:0px 5px;
  justify-content:space-between;
  align-items:center;
  background: #ffffff;
  border-bottom-left-radius: 5px;;
  border-bottom-right-radius: 5px;
  background: #2f363e;

}

button{
 font-size:20px;
 width:60px;
 height:60px;
 border-radius: 50%;
 box-shadow:5px 5px 3px rgba(0,0,0,0.4) inset,5px 5px 10px rgba(0,0,0,0.4);
 border: none ;
 margin-left:15px;
 cursor:pointer;
 outline:none;
 transition: all 0.3s;
 font-weight: bold;
}
button:hover{
    transform:scale(1.2);
    color:white;
    background: #2f363e;
 transition: all 0.3s;

}
button:nth-child(19):hover{
background: red;
}